body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    max-width: 900px;
    margin-bottom: 30px;
}

h2 {
    color: #2f4f4f;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}


section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}


.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-gallery img {
    flex-basis: 45%;
    margin: 10px;
}

footer {
    background-color: #2f4f4f;
    color: white;
    text-align: center;
    padding: 10px 0;
}



.zoomable {
    transition: transform 0.3s ease;
}

.zoom {
    transform: scale(1.5); 
}
